 # mock basic parameters
server.port = 9080
privateKey=C://samlPrivateKey.txt
publicKey=C://samlPublicKey.txt

# mock pretending to be an HIE querying us
# how often (milliseconds) it queries PULSE
patientSearchIntervalSeconds = 600000
# where the query goes
serviceUrl = http://localhost:8090

# mock pretending to be external organizations responding to us
# the quickest it can respond
minimumResponseSeconds=1
# the slowest it can respond
maximumResponseSeconds=5
